<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Локальные данные</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Метод хранения</string>
			<key>Key</key>
			<string>localStorageKind</string>
			<key>DefaultValue</key>
			<string>swiftData</string>
			<key>Titles</key>
			<array>
				<string>SwiftData</string>
				<string>Core Data</string>
			</array>
			<key>Values</key>
			<array>
				<string>swiftData</string>
				<string>coreData</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
